.search-column{
    background-color:	#D3D3D3;
}

.list-group-item{
    line-height: 0.5;
    border: none;
}
.card-body{
    flex:auto
}

span.severe{
    padding: 3px;
    background-color: rgb(140, 4, 4);
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: rgb(212, 212, 6);
}

span.favorable{
    padding: 3px;
    background-color: rgb(0, 158, 0);
    color:white;
}